/* font-family: 'Open Sans', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
/* font-family: 'Bad Script', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap");

/* INICIO General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #0C0E19;
  background: linear-gradient(to bottom, #0C0E19 1.13%, #132E3B 3.54%, #132E3B 7.54%, #0C6073 12.72%, #0C6073 15.72%, #132E3B 20.54%, #0C0E19 31.84%, #0C0E19 50.58%, #0C0E19 58.62%, #0C0E19 63.62%, #132E3B 74.54%, #0C0E19 85.32%);
  color: #ffffff;
  line-height: 1.5;
  text-align: center;
}

.body-sections {
  background: #0C0E19;
}

hr {
  width: 80%;
  margin: auto;
  color: #fff;
}

/* FIN General Reset */

/* INICIO Botones */
.button {
  font-size: 16px;
  background-color: transparent;
  color: #ffffff;
  border: #CC4B3D solid 1px;
  border-radius: 60px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}

.button:hover {
  background-color: #CC4B3D;
}

.primary {
  padding: 3px 20px;
}

.secondary {
  padding: 2px 20px;
  font-size: 14px;
}

.tertiary {
  border-radius: 0;
  border: transparent;
  border-bottom: 1px solid #fff;
  padding-inline: 3px;
  font-weight: 400;
  transition: transform 0.3s ease;
  /* Transición suave */
  margin-right: 10px;
}

.tertiary:hover {
  background-color: transparent;
  color: #CC4B3D;
  border-bottom: 2px solid #CC4B3D;
}

/* FIN Botones */

/* INICIO Header encima del Hero */
header.index {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  color: #ffffff;
  z-index: 10;
  text-align: left;
}

header.index h1 {
  font-family: "Bad Script", cursive;
  margin-left: 100px;
  margin-top: 40px;
  font-size: 52px;
  text-shadow: 0px 4px 10px rgba(255, 255, 255, 0.5);
}

header.index p {
  font-family: "Bad Script", cursive;
  margin-left: 100px;
  margin-top: 30px;
  margin-bottom: 50px;
  font-size: 36px;
}

header.index button {
  margin-left: 100px;
}

/* FIN Header encima del Hero */

/* INICIO Hero Section */
.hero {
  padding-bottom: 50px;
}

.hero-image {
  width: 100%;
  height: auto;
  margin: 30px auto;
  display: block;
  border-radius: 10px;
}

.hero-title {
  font-family: "Bad Script", cursive;
  text-align: center;
  font-size: 48px;
  margin: 50px 0;
  text-shadow: 0px 4px 10px rgba(255, 255, 255, 0.5);
}

.hero-text {
  width: 65%;
  margin: auto;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 300;
}

/* FIN Hero Section */

/* INICIO Section menu-cards */
.menu-cards {
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}

.menu-cards a {
  text-decoration: none;
}

.menu-cards .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1.5px #b7b7b7 solid;
}

.menu-cards .cards:hover {
  border-bottom: 1.5px #CC4B3D solid;
  box-shadow: 0 8px 6px -6px black;
}

.menu-cards .cards img {
  width: 50%;
  height: auto;
}

.menu-cards .cards p {
  color: #fff;
  font-size: 20px;
  padding-bottom: 10px;
}

/* FIN Section menu-cards */

/* INICIO Section menu-cards-secciones */
.menu-cards-secciones {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  margin-bottom: 100px;
  margin-top: 50px;
}

.menu-cards-secciones a {
  text-decoration: none;
}

.menu-cards-secciones .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1.5px #b7b7b7 solid;
  padding-inline: 5px;
}

.menu-cards-secciones .cards:hover {
  border-bottom: 1.5px #CC4B3D solid;
  box-shadow: 0 8px 6px -6px black;
}

.menu-cards-secciones .cards img {
  width: 50%;
  height: auto;
}

.menu-cards-secciones .cards p {
  color: #fff;
  font-size: 16px;
  padding-bottom: 10px;
}

.menu-cards-secciones .activo {
  border-bottom: 2px #CC4B3D solid;
}

.menu-cards-secciones .no-activo {
  border-bottom: 1.5px #b7b7b7 solid;
}

/* FIN Section menu-cards */

/* INICIO Tarot Section */
.titulo-tarot {
  font-family: "Bad Script", cursive;
  font-size: 40px;
  text-align: center;
  margin: 100px 0 50px 0;
  text-shadow: 0px 4px 10px rgba(255, 255, 255, 0.5);
}

.card-tarot {
  width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
}

.card-tarot .texto-card-tarot {
  width: 65%;
  padding-right: 20px;
}

.card-tarot .texto-card-tarot h4 {
  font-family: "Bad Script", cursive;
  text-align: left;
  font-size: 32px;
}

.card-tarot .texto-card-tarot .text {
  text-align: left;
  font-size: 20px;
  font-weight: 300;
}

.card-tarot .img-text {
  font-size: 14px;
  font-weight: 600;
  text-align: left;
}

.card-tarot .image-container {
  width: 200px;
  height: 300px;
  position: relative;
  perspective: 1000px;
  cursor: pointer;
}

.card-tarot .flip-box {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card-tarot .flipped {
  transform: rotateY(180deg);
}

.card-tarot .front,
.card-tarot .back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.card-tarot .front img,
.card-tarot .back img {
  width: 100%;
}

.card-tarot .back {
  transform: rotateY(180deg);
}

/* FIN Tarot Section */

/* INICIO Section Sobre mi */

section.about-me {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 150px;
  width: 100%;
}

section.about-me .content {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  z-index: 2;
  /* Ensures it's above the background */
}

section.about-me .profile-image {
  width: 200px;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

section.about-me .text {
  max-width: 500px;
}

.text h2 {
  font-size: 32px;
  margin-bottom: 20px;
  font-family: "Bad Script", cursive;
  text-shadow: 0px 4px 10px rgba(255, 255, 255, 0.5);
}

section.about-me .text p {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 10px;
}

section.about-me .background-decorations {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 1;
  /* Behind the content */
}

section.about-me .decor-image {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* FIN section sobre mi */

/* INICIO Footer */
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 15px;
  margin-top: 20px;
}

.footer-title {
  font-size: 24px;
}

footer p {
  font-size: 14px;
}

footer .redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 35px;
  width: 100%;
  padding-bottom: 30px;
}

footer .redes img {
  width: 35px;
}

footer .redes img:hover {
  filter: drop-shadow(1px 1px 4px #fff);
}

/* FIN Footer */

/* INICIO Header seciones*/
.header-section {
  text-align: center;
  background: linear-gradient(180deg, rgba(247, 135, 103, 0.1672) 0%, rgba(12, 14, 25, 0.44) 100%);
  height: 450px;
}

.title {
  font-size: 64px;
  font-family: "Bad Script", cursive;
  color: #fff;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.header-section .text-content h2 {
  margin: 40px 0 20px 0;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding-top: 30px;
}

.illustration img {
  width: 100%;
}

.text-content {
  text-align: left;
  padding-right: 100px;
  padding-left: 100px;
}

.text-content h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.text-content p {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* FIN Header seciones*/

/* INICIO Section blog*/

.blog {
  margin: auto;
  width: 68%;
}

.blog div {
  margin-bottom: 60px;
}

.blog div h3 {
  font-size: 24px;
  text-align: left;
}

.blog div p {
  font-size: 16px;
  font-weight: 300;
  text-align: left;
}

.blog div img {
  width: 20px;
}

.blog div a {
  display: block;
  color: #77e4ff;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.blog div a b {
  padding-right: 5px;
}

/* FIN Section blog*/

/* INICIO Section videos*/

.videos {
  width: 80%;
  margin: auto;
}

.videos .cont-videos {
  margin: auto;
  margin-bottom: 40px;
}

.videos .cont-videos iframe {
  width: 100%;
  height: 315px;
}

.videos .cont-videos .texto-videos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.videos .cont-videos .texto-videos p {
  margin: 0;
  font-weight: 300;
}

.videos .cont-videos .texto-videos img {
  width: 30px;
  margin: 5px;
}

/* FIN Section Videos*/


/* INICIO Section preguntas*/

.consultas {
  width: 68%;
  margin: auto;
}

/*
.consultas .seccion-form-consultas {
  margin: 100px 0;
}
.consultas .seccion-form-consultas h4 {
  text-align: center;
  font-size: 24px;
  margin: 30px;
}

.consultas .seccion-form-consultas .containerForm {
  margin: auto;
}
.consultas .seccion-form-consultas .campos-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.consultas .seccion-form-consultas .campos-form .label-form {
  color: #ffffff;
  font-size: 16px;
}
.consultas .seccion-form-consultas .campos-form .inputs-form {
  background-color: transparent;
  width: 60%;
  border: none;
  border-bottom: #CC4B3D solid 2px;
  margin-bottom: 20px;
  height: 20px;
}
.consultas .seccion-form-consultas .campos-form #botonEnviar {
  color: #fff;
  background-color: transparent;
  font-size: 9px;
  color: #ffffff;
  padding: 2px 20px;
  border: #CC4B3D solid 1px;
  border-radius: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.consultas .seccion-form-consultas .campos-form #botonEnviar:hover {
  background-color: #CC4B3D;
}*/

.consultas .texto-consultas {
  font-family: "Bad Script", cursive;
  font-size: 42px;
  text-align: center;
  margin: 50px 0 25px 0;
  text-shadow: 0px 4px 10px rgba(255, 255, 255, 0.5);
}

.consultas .respuestas {
  margin: 40px 0;
}

.dejar-consulta .text {
  text-align: center;
  font-size: 24px;
  margin: 50px 0 25px 0;
}

.dejar-consulta button {
  margin-bottom: 50px;
}

/* FIN Section preguntas*/

/* INICIO Section Talleres*/

.talleres {
  margin-bottom: 100px;
}

.talleres .card-talleres {
  width: 68%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 60px;
}

.talleres .card-talleres .img-card {
  width: 30%;
  border-radius: 2px;
}

.talleres .card-talleres .texto-card {
  width: 60%;
}

.talleres .card-talleres .texto-card h4 {
  padding-bottom: 20px;
  text-align: left;
}

.talleres .card-talleres .texto-card p {
  text-align: left;
  font-weight: 300;
}

.talleres .card-talleres .texto-card div {
  text-align: left;
}

.talleres .reverse {
  flex-direction: row-reverse;
}

/* FIN Section Talleres*/


/* INICIO Responsive Design index*/

/*index*/

@media (max-width: 990px) {
  header.index h1 {
    margin-left: 80px;
    font-size: 40px;
  }

  header.index p {
    margin-left: 80px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 32px;
  }

  header.index button {
    margin-left: 80px;
  }

  .text-content {
    padding-right: 60px;
    padding-left: 60px;
  }

  .title {
    font-size: 48px;
  }

  .header-section {
    height: 380px;
  }

  .menu-cards-secciones {
    width: 95%;
  }

  .talleres .card-talleres {
    width: 85%;
  }

  .talleres .card-talleres .img-card {
    width: 35%;
  }

  .talleres .card-talleres .texto-card {
    width: 60%;
  }

  .talleres .card-talleres .texto-card h4 {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .button {
    font-size: 12px;
  }

  hr {
    width: 85%;
  }

  header.index h1 {
    margin-top: 30px;
    margin-left: 40px;
    font-size: 32px;
  }

  header.index p {
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
  }

  header.index button {
    margin-left: 40px;
  }

  /* hero */
  .hero-title {
    font-size: 36px;
  }

  .hero-text {
    width: 85%;
    font-size: 16px;
  }

  /*menu-cards */

  .menu-cards {
    width: 95%;
  }

  .menu-cards .cards p {
    font-size: 14px;
  }

  /*Tarot Section */
  .titulo-tarot {
    font-size: 32px;
    margin-top: 60px;
  }

  .card-tarot {
    width: 90%;
  }

  .card-tarot .texto-card-tarot h4 {
    font-size: 24px;
  }

  .card-tarot .texto-card-tarot .text {
    font-size: 16px;
  }

  /*Section Sobre mi  */
  section.about-me {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    margin: auto;
    margin-top: 80px;
    min-height: 70vh;

  }

  section.about-me .content {
    width: 90%;
    margin: auto;
    padding-bottom: 220px;
  }

  section.about-me .profile-image {
    width: 180px;
  }

  section.about-me .text {
    max-width: 400px;
  }

  .text h2 {
    font-size: 28px;
    margin-bottom: 10px;
  }

  /*footer  */
  .footer-title {
    font-size: 20px;
  }

  footer p {
    font-size: 12px;
  }

  footer .redes {
    gap: 25px;
  }

  footer .redes img {
    width: 30px;
  }

  /* INICIO Header seciones*/
  .header-section {
    height: 300px;
  }

  .title {
    font-size: 32px;
  }

  .header-section .text-content h2 {
    margin: 20px 0 20px 0;
  }

  .text-content {
    padding-right: 40px;
    padding-left: 40px;
  }

  .text-content h2 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .text-content p {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .text-content p {
    font-size: 14px;
  }

  .menu-cards-secciones .cards-b {
    padding-inline: 0;
  }

  /* INICIO Section blog*/
  .blog {
    margin: auto;
    width: 90%;
  }

  /* INICIO Section videos*/

  .videos {
    width: 90%;
  }

  /* INICIO Section preguntas*/

  .consultas {
    width: 90%;
  }

  .dejar-consulta {
    width: 90%;
    margin: auto;
  }

  .dejar-consulta .text {
    font-size: 20px;
  }

  /* INICIO Section Talleres*/

}


@media (max-width: 575px) {
  header.index h1 {
    margin-left: 30px;
    font-size: 24px;
  }

  header.index p {
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
  }

  header.index button {
    margin-left: 30px;
  }

  .hero-image {
    margin: 40px auto;
  }

  .title {
    font-size: 24px;
  }

  .text-content {
    padding-right: 20px;
    padding-left: 20px;
  }
}


@media (max-width: 768px) {
  .links {
    flex-direction: column;
    gap: 10px;
  }


}

@media (max-width: 400px) {
  .menu-cards-secciones .cards {
    padding-inline: 0;
  }
  .menu-cards-secciones .cards p {
    font-size: 14px;
  }
}



/* FIN Responsive Design index*/